
{% extends 'base.html'%}

{% load static %}
{% block title %}  {% endblock %}

{% block content %}


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/tools.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h1 class="custom_heading">
              About Us
              <span>

              </span>
            </h1>
            <p>
              Akajuma Organic Foods Limited offers a diverse supply of farm products that cater to various agricultural needs.
              We are not just a supplier, we are professional farmer who specializes in Ginger, Turmeric, Chilli pepper,
              Pepper, Sesame and Garlic cultivations
            </p>
            <h1>
              OUR MAIN FOCUS
            </h1>
            <P>
              To supply quality farm products
            </P>
            <P>
              Reliable delivery structure
            </P>
            <P>
              Make ordering and supply flexible
            </P>
            <P>
              To help our customers process the raw farm product and make it accessible
            </P>
            <h1>
              Quality Customer service & Partnership
            </h1>
            <P>
              We can start this journey now with you as you contact us and make your order.
              We are Fulfilled when our services ease your stress.
            </P>
            <p>
              Hotlines
              +234 9075260636
              +234 9135885893

              Email:akajumaorganicfoodslimited@hotmail.com
          </p>
            <div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                 F12, JEMA'A ROAD GONIN GORA CHIKUN L.G.A
                KADUNA STATE NIGERIA
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                 +234 9075260636
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                akajumaorganicfoodslimited@hotmail.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

 {% endblock %}