
{% extends 'base.html'%}
{% load static %}
{% block title %} {% endblock %}

{% block content %}

  <!-- service section -->
  <section class="service_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 offset-md-2">
          <h2 class="custom_heading">
            Our <span>Services</span>
          </h2>
          <div class="container layout_padding2">
            <div class="row">
              <div class="col-md-4">
                <div class="img_box">
                  <img src="{static 'images/s-1.png'}" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Ginger supplies
                  </h6>
                  <p>
                    We produce both fresh and split-dried Turmeric of grade A.
                    We are best when it comes to quality.
                    Contact us and buy from us.
                    We are the best in service delivering
                  </p>
                </div>
              </div>
              <div class="col-md-4">
                <div class="img_box">
                  <img src="{static 'images/s-2.png'}" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Tumeric
                  </h6>
                  <p>
                   We produce both fresh and split-dried Turmeric of grade A.
                    We are best when it comes to quality.
                    Contact us and buy from us.
                    We are the best in service delivering
                  </p>
                </div>
              </div>
               <div class="col-md-4">
                <div class="img_box">
                  <img src="{static 'images/s-3.png'}" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Soyabeans
                  </h6>
                  <p>
                   We produce soyabeans of grade A.
                    We are best when it comes to quality.
                    Contact us and buy from us.
                    We are the best in service delivering
                  </p>
                </div>
              </div>
               <div class="col-md-4">
                <div class="img_box">
                  <img src="{static 'images/s-3.png'}" alt="">
                </div>
                <div class="detail_box">
                  <h6>
                    Pepper
                  </h6>
                  <p>
                    We produce both fresh and split-dried Turmeric of grade A.
                    We are best when it comes to quality.
                    Contact us and buy from us. We are the best in service delivering
                  </p>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <img src="{static 'images/tool.png'}" alt="" class="w-100">
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->



  <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_items">
        <a href="">
          <div class="item ">
            <div class="img-box box-1">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                Location
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="img-box box-2">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
               +234 9075260636
              </p>
            </div>
          </div>
        </a>
        <a href="">
          <div class="item ">
            <div class="
            img-box box-3">
              <img src="" alt="">
            </div>
            <div class="detail-box">
              <p>
                akajumaorganicfoodslimited@hotmail.com
              </p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- end info_section -->

  {% endblock %}